<%= form_for comment, url: "/issues/#{@issue.id}/comments/#{comment.id}" do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "row formfield">
      <%= f.text_area :content,  {:class => "form-control comment", :placeholder => "What do you want to say?"} %>
  </div>
  
  <div class="row formfield">
    <%= f.submit 'Submit', :class => 'btn btn-primary bold-text' %>
  </div>

<% end %>
