<%= form_for(issue) do |f| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-md-10">
      <%= f.label :title %>
      <%= f.text_field :title, {:class => "form-control"} %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <%= f.label :description %>
      <%= f.text_area :description,  {:class => "form-control"} %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-10">
      <%= f.label :user_id %>
      <%= f.number_field :user_id, {:class => "form-control"} %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <%= f.label :kind %>
      <%= f.text_field :kind, {:class => "form-control"} %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <%= f.label :priority %>
      <%= f.text_field :priority, {:class => "form-control"} %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1">
      <%= f.submit 'Create Issue', :class => 'btn btn-primary' %>
    </div>
    <div class="col-md-1">
      <%= link_to 'Back', issues_path %>
    </div>
  </div>
<% end %>