<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel">


        <div id="issues-toolbar" class="clearfix">
          <div class="filter-container">
            <p class="filter-label">Filters:</p>
            <ul class="filter-status">
                      
                      <li id="all">
                        <%= link_to 'All', "issues" %>
                      </li>
                      <li id="open">
                        <%= link_to 'Open', "issues?status=new&amp;status=open" %>
                      </li>
                       <% if current_user %>
                      <li id="mine">
                        <%= byuser 'My issues', current_user.id  %> 
                      </li>
                      <li id="watching" hidden>
                        <%= link_to 'Watching', "issues?watching="+current_user.id.to_s  %>
                      </li>

                     <% end %>
                     
            </ul>
          </div>
          <div class="issues-toolbar-right" hidden >
            <form class="aui top-label" id="search" action="/ASW_G13E/issue_tracker/issues">
              <div class="field-group">
                <label for="q">Search</label>
                <input type="text" class="text" id="q" name="q" results="5" autosave="bitbucket-issues-filter" placeholder="Find issues">
              </div>
            </form>
          </div>
        </div>  
        

        <div class="row">
        
          <p id="notice"><%= notice %></p>
          <p><%= criteria_filter %></p>
          <table class="table table-hover pretty">
            <thead>
              <tr>
                <th class="col-md-5"><%= sortable "Title"%></th>
                <th><%= sortable "kind","T"  %></th>
                <th><%= sortable "priority","P"%></th>
                <th><%= sortable "Status"%></th>
                <th><%= sortable "Votes"%></th>
                <th><%= sortable "user.name","Assignee"%></th>
                <th><%= sortable "created_at","Created" %></th>
                <th><%= sortable "updated_at","Updated" %></th>
              </tr>
            </thead>
          
            <tbody>
              <% @issues.each do |issue| %>
                <tr>
                  <td ><%= link_to issue.title, issue %></td>
                  <td><%= bykind issue.kind%></td>
                  <td><%= byprior issue.priority%></td>
                  <td><%= bystatus issue.status%></td>
                  <td><span class="badge"><%= issue.votes %></span></td>
                  <td class="username-td"><span class="glyphicon glyphicon-user"></span><%= issue.user.name %></td>
                  <td><time datetime=issue.created_at ><%= remove_unwanted_words distance_of_time_in_words( issue.created_at , Time.now)%> ago</time></td>
                  <td><time datetime=issue.updated_at ><%= remove_unwanted_words distance_of_time_in_words( issue.updated_at , Time.now)%> ago</time></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
