<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel">
        <div class="row">
          <div class="col-md-10">
            <h1>Issues</h1>
          </div>
          <div class="col-md-2">
            <%= link_to 'New Issue', new_issue_path, {:class => "btn btn-default btn-block"} %>
          </div>
        </div>
        <div class="row">
        
          <p id="notice"><%= notice %></p>
          
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Title</th>
                <th>T</th>
                <th>P</th>
                <th>Status</th>
                <th>Votes</th>
                <th>Assignee</th>
                <th>Created</th>
                <th>Updated</th>
              </tr>
            </thead>
          
            <tbody>
              <% @issues.each do |issue| %>
                <tr>
                  <td><%= link_to issue.title, issue %></td>
                  <td><%= issue.kind %></td>
                  <td><%= issue.priority %></td>
                  <td><%= issue.status %></td>
                  <td><%= issue.votes %></td>
                  <td><%= issue.user.name %></td>
                  <td><%= issue.created_at %></td>
                  <td><%= issue.updated_at %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
