      <div class="container">
<p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-md-8">
      <span class="issue-id">
          Issue  #<%= @issue.id %>
      </span>
      <a href="/issues?status="@issue.status>
        <span class="label label-success"><%= bystatus @issue.status%></span>
      </a>
    </div>
    <div class="col-md-1">
      <% if @issue.status == "new" || @issue.status == "open" %>
        <%= update_issue_field "status","closed",'not-grey btn btn-primary','Resolve' %>
      <% else %>
        <%= update_issue_field "status","open",'not-grey btn btn-primary','Open' %>
      <% end %>
    </div>
    <div class="col-md-1">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Workflow
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><%= update_issue_field "status","new",'dropdown-button text-left' %></li>
          <li><%= update_issue_field "status","open",'dropdown-button text-left' %></li>
          <li><%= update_issue_field "status","on hold",'dropdown-button text-left' %></li>
          <li><%= update_issue_field "status","duplicate",'dropdown-button text-left' %></li>
          <li><%= update_issue_field "status","invalid",'dropdown-button text-left' %></li>
          <li><%= update_issue_field "status","wontfix",'dropdown-button text-left' %></li>
          <li><%= update_issue_field "status","closed",'dropdown-button text-left' %></li>
        </ul>
      </div>
    </div>
    <div class="col-md-1">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">More
        <span class="caret"></span></button>
        <ul class="dropdown-menu">

        <li><%= button_to 'Mark as spam', edit_issue_path(@issue) , {:class => 'dropdown-button text-left'} %></li>
        <li><%=button_to "Delete",issue_path(@issue.id), :method => :delete, :class => "delete dropdown-button text-left", :confirm => "Are you sure ?"%></li>
        <li><button class="dropdown-button text-left" onclick="$('#attach-form').toggle();">Attach files</button></li>
        </ul>
      </div>
    </div>
    <div class="col-md-1">
    <%= link_to 'Edit', edit_issue_path(@issue), {:class => "btn btn-default btn-block"} %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h3 id="issue-title"><%= @issue.title %></h3>
      <div class="issue-author">
        <a>
          <span title=@issue.user.name >
          <%= byuser @issue.user.name, @issue.user.id  %></span>
        </a>
        created an issue
        <time><%= distance_of_time_in_words( @issue.created_at , Time.now) %> ago</time>
      </div>
      <div class="issue-description wiki-content">
          <p>
            <% if @issue.description %>
              <%= @issue.description %>
            <% else %>
              No description provided.
            <% end %>
          </p>
      </div>
      <hr>
      <div class="attachments" id="attachments">
        <table class = "table table-bordered table-striped">
           <thead>
              <tr>
                 <th width="85%">File</th>
                 <th width="15%">Options</th>
              </tr>
           </thead>
           
           <tbody>
              <% @resumes.each do |resume| %>
                 
                 <tr>
                    <td><%= resume.name %></td>
                    <td>
                      <%= link_to "Download", resume.attachment_url, class: "not-grey btn btn-primary" %>
                      <%= button_to "Delete",  resume, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{resume.name}?" %>
                    </td>
                 </tr>
                 
              <% end %>
           </tbody>
           
        </table>
      </div>
      <hr>
      <div id="issues-comments-container">
      <h3>Comments (<%= @comments.count %>)</h3>
      <div id="issues-comments">
        <% @comments.each do |comment| %>
          <div class="row issue-comment comment">
            <div class="col-md-1">
              <img src="https://bitbucket.org/account/pradas/avatar/32/?ts=1492956548" height="38" width="38" alt="">
            </div>
            <div class="col-md-11">
              <div class="row">
              <p>
                <b><%= comment.user.name %></b>
              </p>
              <div class="comment-<%= comment.id %>">
                <p>
                  <%= comment.content %>
                </p>
              </div>
              <div class="col-md-7 comment-<%= comment.id %>" hidden>
                <%= render 'comments/form', issue: @issue, comment: comment %>
              </div>
              </div>
              <div class="row">
                <ul class="list-inline">
                  <li>
                    <a href="#edit" class="edit-comment-link" onclick="$('.comment-<%= comment.id %>').toggle();">
                      Edit
                    </a>
                  </li>
                  <li>
                    <a class="comment-pin-link" href="#comment-pin">
                        Pin
                    </a>
                  </li>
                  <li>
                    <a class="comment-spam-link" href="#comment-spam">
                        Mark as spam
                    </a>
                  </li>
                  <li>
                    <%= link_to 'Delete', '/issues/'+@issue.id.to_s+'/comments/'+comment.id.to_s, method: :delete, remote: true %>
                  </li>
                  <li>
                    <a>
                      <time datetime="<%=comment.created_at %>" ><%= remove_unwanted_words distance_of_time_in_words( comment.created_at , Time.now)%> ago</time>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            </div>
        <% end %>
      </div>
      
      <hr>
      <div class="row">
        <div class="col-md-1">
          <img src="https://bitbucket.org/account/pradas/avatar/32/?ts=1492956548" height="38" width="38" alt="">
        </div>
        <div class="col-md-7">
          <%= render 'comments/form', issue: @issue, comment: @comment %>
        </div>
      </div>
    </div>
    </div>
    <div class="col-md-4">
      <div id="attach-form" hidden>
        <%= render 'resumes/form', issue: @issue, resume: @resume %>
      </div>
      <div class="panel panel-default col-offset-8">
        <div class="panel-body">      
          <div class="aui-item sidebar">
            <div class="issue-attrs">
            <dl>
              <dt>Assignee</dt>
              <span class="glyphicon glyphicon-user"></span><text> </text><%= byuser @issue.user.name, @issue.user.id  %>
            </dl>
            <dl>
              <dt>Type</dt>
                <%= bykind @issue.kind,true %>
            </dl>
            <dl>
              <dt>Priority</dt>
                <%= byprior @issue.priority, true%>
            </dl>
            <dl>
              <dt>Status</dt>
                <%= bystatus @issue.status%>
            </dl>
            <dl>
              <dt>Votes</dt>
                <div class="row">
                  <div class="col-xs-1">
                    <span class="badge"><%= @issue.votes %></span>
                  </div>
                  <div class="col-xs-1">
                    <%= update_issue_field "votes",@issue.votes+1,'link-button btn-link','Vote for this issue' %>
                  </div>
                </div>
            </dl>
            <dl>
              <dt>Watchers</dt>
                <div class="row">
                  <div class="col-xs-1">
                    <span class="badge"><%= @issue.watchers %></span>
                  </div>
                  <div class="col-xs-1">
                    <%= update_issue_field "watchers",@issue.watchers+1,'link-button btn-link','Watch this issue' %>
                  </div>
                </div>
            </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div></div>