<%= form_for  issue_vote, url: "/issues/#{@issue.id}/votes"  do |f| %>
  <% if issue_vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue_vote.errors.count, "error") %> prohibited this issue_vote from being saved:</h2>

      <ul>
      <% issue_vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <% if @user_vote %>
      <%= f.submit 'Remove vote' %>
    <% else %>
      <%= f.submit 'Vote for this issue' %>
    <% end %>
  </div>
<% end %>
