<%= form_for issue_watch, url: "/issues/#{@issue.id}/watches" do |f| %>
  <% if issue_watch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue_watch.errors.count, "error") %> prohibited this issue_watch from being saved:</h2>

      <ul>
      <% issue_watch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <% if @user_watch %>
      <%= f.submit 'Stop watching' %>
    <% else %>
      <%= f.submit 'Watch this issue' %>
    <% end %>  </div>
<% end %>
