<!DOCTYPE html>
<html>
  <head>
    <title>Issues Tracker</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag :defaults %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
  </head>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to 'Issues Tracker', issues_path %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li><a id="username-navbar"><strong><%= current_user.name %></strong></a></li>
            <li>  <%= link_to "Sign out", signout_path, id: "sign_out" %></li>
          <% else %>
             <li> <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %></li>
          <% end %>
        </ul>
       
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-sm-10">
          <h1>Issues</h1>
        </div>        
        <div class="col-md-2 col-sm-2">
        <% if current_user != nil %>
          <%= link_to 'Create Issue', new_issue_path, {:class => "btn btn-default btn-block"} %>
        <%end %>
        </div>
      </div>
    </div>
    <%= yield %>

  </body>
</html>
